MODEL:
  SESSION: "Paxton"

PROJECT:
  ROOT_PATH: /public/home/hnust15874739861/pro/UnderwaterImageEnhanced/
  TRAIN_DIR: /public/home/hnust15874739861/pro/UnderwaterImageEnhanced/dataset/UIEB19/Train
  VAL_DIR: /public/home/hnust15874739861/pro/UnderwaterImageEnhanced/dataset/UIEB19/Val
  SAVE_DIR: /public/home/hnust15874739861/pro/UnderwaterImageEnhanced/save_dir
  EXPT_RECORD_DIR: /public/home/hnust15874739861/pro/UnderwaterImageEnhanced/expt_record
  LOG_DIR: /public/home/hnust15874739861/pro/UnderwaterImageEnhanced/log
  VISUAL_DATA: /public/home/hnust15874739861/pro/UnderwaterImageEnhanced/dataset/visual_img

DATASET:
  INPUT: 'input'
  TARGET: 'GT'

TRAIN:
  DEVICE: 'cuda:5'
  VAL_AFTER_EVERY: 1
  RESUME: False           # 这里暂时只用于加载预训练权重
  WEIGHT: ''              # 如果需要用预训练模型，可以填一个 .pth
  IMG_H: 256
  IMG_W: 256
  ORI: False
  BATCH_SIZE: 32
  LR: 2e-4
  EPOCHS: 500
  PRINT_FREQ: 1
  TIMESTEPS: 1000         # 新增：扩散步骤数
  NUM_WORKERS: 4          # 新增：Dataloader 线程数
  RECON_LAMBDA: 0.0       # 新增：是否加 L1 重建损失（0 就是只用噪声预测）
