exp:
  name: uie_cond_ddpm
  output_dir: ./runs
  seed: 42

data:
  train_input_dir: /public/home/hnust15874739861/pro/publicdata/LSUI19/Train/input
  train_gt_dir: /public/home/hnust15874739861/pro/publicdata/LSUI19/Train/GT
  val_input_dir: /public/home/hnust15874739861/pro/publicdata/LSUI19/Val/input
  val_gt_dir: /public/home/hnust15874739861/pro/publicdata/LSUI19/Val/GT
  image_size: 256
  num_workers: 8
  pin_memory: true

train:
  epochs: 200
  batch_size: 16
  lr: 2.0e-4
  weight_decay: 0.0
  grad_clip: 1.0
  amp: true
  log_every: 50
  val_every_epochs: 1
  save_every_epochs: 1

  # 只评估/采样部分 val 图像以控制耗时（你也可以设为 -1 表示全量）
  val_num_images: 64

  # 训练中验证生成图像的采样方式：ddim 更快；也可改为 ddpm
  val_sampler: ddim
  val_sampling_steps: 50
  val_ddim_eta: 0.0

  # 训练结束后是否自动用 best 三个 ckpt 生成增强结果
  generate_after_train: true

diffusion:
  timesteps: 1000
  beta_schedule: cosine   # linear 或 cosine
  objective: eps          # 预测噪声 epsilon
  p2_loss_weight_gamma: 0.0
  p2_loss_weight_k: 1.0

model:
  in_channels: 6          # x_t(3) + cond(3)
  out_channels: 3         # 预测 epsilon，通道=3
  base_channels: 128
  channel_mult: [1, 2, 4, 4]
  num_res_blocks: 2
  attn_resolutions: [16]  # 在 16x16 分辨率处做自注意力
  dropout: 0.0
  num_heads: 4
  use_scale_shift_norm: true

ema:
  enable: true
  decay: 0.9999
  update_every: 1
  warmup_steps: 500

sample:
  # sample_folder.py 用
  sampler: ddim
  steps: 50
  ddim_eta: 0.0
  batch_size: 8